<footer class="page-footer light-blue accent-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">THE END.</h5>
                <p class="grey-text text-lighten-4">Nothing to see here; go back and search!</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 PyroDev
            <a class="grey-text text-lighten-4 right social" href="https://github.com/PyroGamez2016"><i class="fa fa-github"></i><strong> Github</strong></a>
        </div>
    </div>
</footer>